{% extends "base_generic.html" %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <form action="/register/" method="POST">{% csrf_token %}
        <label for="username">Username</label>
        <input name="username" type="text"><br>
        <label for="first_name">First name</label>
        <input name="first_name" type="text"><br>
        <label for="last_name">Last name</label>
        <input name="last_name" type="text"><br>
        <label for="password1">Password</label>
        <input name="password1" type="password"><br>
        <label for="password2">Confirm Password</label>
        <input name="password2" type="password"><br>
        <button tabindex="submit">Submit</button>
    </form>
</div>

{% endblock %}